html, body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.container {
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}

h1 {
  color: #21252B;
  font-weight: normal;
  font-size: 3em;
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px 0 #f5f5f5, 4px 4px 0 #ccc;
}

p {
  padding: 20px;
  background: #f5f5f5;
  color: #282C34;
  border-radius: 5px;
  font-weight: 300;
  line-height: 1.8em;
  text-align: justify;
}

strong {
  color: #ee4c4c;
  font-weight: 400;
  text-shadow: 1px 1px 0 #f5f5f5, 2px 2px 0 #ccc;
}

button {
  padding: 10px;
  background: #ee4c4c;
  color: #fff;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  font-size: 16px;
}

button:hover, button:focus {
  background: #d64444;
}

body.theme2 {
  background: #403f4d;
  font-family: 'Courier New', monospace;
}

.theme2 h1 {
  color: #ee4c4c;
  text-shadow: 2px 2px 0 #403F4D, 4px 4px 0 #2E2D33;
  text-transform: uppercase;
}

.theme2 p {
  background: #4e4d5c;
  color: #fbfafb;
}

.theme2 strong {
  color: #ee4c4c;
  font-weight: 400;
  text-shadow: 1px 1px 0 #403F4D, 2px 2px 0 #2E2D33;
}

.theme2 button {
  background: #4E4D5C;
  color: #ee4c4c;
  border: 2px solid #2E2D33;
  font-family: 'Courier New', monospace;
}
